.advantages {
    min-height: 200px;
    background: $main-color;
    &-min {
        min-height: 180px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__descr {
        position: absolute;
        z-index: 2;
        font-size: 17px;
        font-weight: 300;
        span {
            color: $sub-color;
            font-size: 30px;
            text-shadow: #fff 1px 1px 2px;
        }
        &-min {
            font-weight: 300;
            span {
                font-size: 20px;
                text-shadow: #fff 0.5px 0.5px 1px;
            }
        }
    }
    &__item {
        position: relative;
        width: 250px;
        text-align: center;
        color: #fff;
        margin-top: 50px;
        
        svg {
            position: absolute;
            left: 0;
            z-index: 1;
            color: #32221a;
            width: 100px;
            height: 100px;

        }
        &-min {
            width: 100%;
        }
    }
    &__points {
        display: flex;
        justify-content: center;
    }
    &__point {
        width: 6px;
        height: 6px;
        margin: 0 10px 20px 10px;
        border: 3px solid $sub-color;
        border-radius: 1px;

    }
    
}