.advantages {
    min-height: 200px;
    background: $main-color;
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__descr {
        position: absolute;
        z-index: 2;
        font-size: 17px;
    }
    &__item {
        position: relative;
        width: 250px;
        text-align: center;
        color: #fff;
        margin-top: 50px;

        span {
            color: $sub-color;
            font-size: 30px;
            text-shadow: #fff 1px 1px 2px;
        }
        svg {
            position: absolute;
            left: 0;
            z-index: 1;
            color: #32221a;
            width: 100px;
            height: 100px;

        }
    }
    
}